*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px; /* dictates font size for whole document unless overwritten */
  text-align: center;  /* center aligns elements */
  margin: auto;
  width: 100%; /* content width ...somehow centers content too?*/
  height: auto; /* height is however long content is*/
  float: left;
}

/* controls "modern luxury travel" */
.container {
  text-transform: uppercase; /* makes all text uppercase */
  font-family: sans-serif;
  font-size: 14px; /* dictates font size */
  font-weight: 500;
  margin: 20px auto; /* 20px and ? */
  display: inline-block; /* provides space above & below each element & arranges them in single column */
}

/* Add a media query to display a 2-column design for tablet devices. */
@media screen and (min-width: 575px) {
  .container {
    margin: 1%;
    width: 48%;
  }
}

/* Add a media query to display a 4-column design for larger devices, like laptops. */
@media screen and (min-width: 991px) {
  .container {
    margin: 1%;
    width: 23%;
  }
}

.container h1 {
    text-align: center; /* centers "Modern luxury travel" */
    padding: 10px;
}

/* overwrites .container to control city names */
div {
  font-size: 150%; /* 150% of 14px */
  text-transform: capitalize; /* makes all text capitalized */
  font-family: serif;
  font-weight: 400;
}

.preview-baku {
  background: url("images/baku.jpg") no-repeat left; /* image & alignment */
  background-size: cover; /* image covers area w/o distortion */
  margin: 10px 0 10px 0; /* grey space around image */
  padding: auto; /* creates more space around text */
  width: auto;
  height: 300px;
}

.preview-baku h1 {
  text-align: left; /* aligns city name to left */
}

.preview-london {
  background: url("images/london.png") no-repeat right; /* image & alignment */
  background-size: cover; /* image covers area w/o distortion */
  margin: 10px 0 10px 0; /* grey space around image */
  padding: auto; /* creates more space around text */
  width: auto;
  height: 300px;
}

.preview-london h1 {
  text-align: left; /* aligns city name to left */
}

.preview-madrid {
  background: url("images/madrid.jpg") no-repeat left; /* image & alignment */
  background-size: cover; /* image covers area w/o distortion */
  margin: 10px 0 10px 0; /* grey space around image */
  padding: auto; /* creates more space around text */
  width: auto;
  height: 265px;
}

.preview-madrid h1 {
  text-align: left; /* aligns city name to left */
}

.preview-rome {
  background: url("images/rome.jpg") no-repeat left; /* image & alignment */
  background-size: cover; /* image covers area w/o distortion */
  margin: 10px 0 10px 0; /* grey space around image */
  padding: auto; /* creates more space around text */
  width: auto;
  height: 275px;
}

.preview-rome h1 {
  text-align: left; /* aligns city name to left */
}
